<table>
  <tr>
    <th>Landmark Name</th>
    <td><%= @landmark.name %></td>
  </tr>
  <tr>
     <th>Year Completed</th>
     <td><%=@landmark.year_completed%></td>
  </tr>
<table>
<h1><%=@landmark.year_completed %></h1>