<form action="/figures"  method="post">
	<lable>Name </lable>
  <input type="text" name="figure[name]" id="Name" ><br>

  <input type="checkbox" name="figure[title_ids][]"><br>

  <input type="checkbox" name="figure[landmark_ids][]"><br>

  <input type="text" name="landmark[name]"><br>
  
  <input type="text" name="title[name]"><br>
	
  <input type="submit" value="Create New Figure">
  
</form>    
